$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import 'colors';
@import 'carousel';
@import 'imagehover';
@import 'jribbble';
@import 'cover';


body{
  background: linear-gradient(45deg, $pink 0%,$blue 100%);
}


.nav-box{
  background-color: rgba(0, 0, 0, 1);
  border: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.navbar-header {
  padding-left: 20px;
}

.content{
  overflow: scroll;
}

.nav-box{
  width: 100%;
  background-color: rgba (0, 0, 0, .1);
}

.container-fluid{
  padding: 0;
}

html, body {
  overflow-y: hidden;
  overflow-x: hidden;
}

#getFavorite {
  display: none;
}

#sign-out{
  display: none;
}
