.jribble-content {
  width: 100%;
}

ul.shots {
  width: 90%;
  display: block;
  margin: 0 auto;
}

a:hover {
  text-decoration: none;
  color: $hover-purple;
}

.projectTitle{
  text-shadow: 2px 2px $hot-pink;
}

.jribble-content {
  margin-top: 50px;
}
